make-notion-add-multiple-relations.blueprint.json
{
    "name": "make-notion-add-multiple-relations",
    "flow": [
        {
            "id": 14,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "mapper": {
                "variables": [
                    {
                        "name": "data source item id",
                        "value": ""
                    },
                    {
                        "name": "relations property name",
                        "value": ""
                    },
                    {
                        "name": "multiple relations database id",
                        "value": ""
                    },
                    {
                        "name": "notion token",
                        "value": ""
                    }
                ],
                "scope": "roundtrip"
            },
            "metadata": {
                "designer": {
                    "x": 457,
                    "y": 207
                },
                "restore": {
                    "expect": {
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null
                            ]
                        },
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "type": "array",
                        "label": "Variables",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Variable name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Variable value",
                                "type": "any"
                            }
                        ]
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data source item id",
                        "label": "data source item id",
                        "type": "any"
                    },
                    {
                        "name": "relations property name",
                        "label": "relations property name",
                        "type": "any"
                    },
                    {
                        "name": "multiple relations database id",
                        "label": "multiple relations database id",
                        "type": "any"
                    },
                    {
                        "name": "notion token",
                        "label": "notion token",
                        "type": "any"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "notion:getADatabaseItem",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5540257
            },
            "mapper": {
                "getBy": "data_source",
                "select": "map",
                "page": "{{14.`data source item id`}}"
            },
            "metadata": {
                "designer": {
                    "x": 757,
                    "y": 207,
                    "name": "get item to add relations"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MakeComIntegration",
                            "data": {
                                "scoped": "true",
                                "connection": "notion3"
                            }
                        }
                    },
                    "expect": {
                        "getBy": {
                            "mode": "chose",
                            "label": "Data SourceThis must be used if your database has multiple data sources."
                        },
                        "select": {
                            "label": "Enter manually"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "getBy",
                        "type": "select",
                        "label": "Get By",
                        "required": true,
                        "validate": {
                            "enum": [
                                "data_source",
                                "database"
                            ]
                        }
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Get a Data Source Item",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "type": "text",
                        "label": "Data Source Item ID",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Database Item ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created By"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "text",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited By"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            },
                            {
                                "name": "data_source_id",
                                "type": "text",
                                "label": "Data Source ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "in_trash",
                        "type": "boolean",
                        "label": "In Trash"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "HREF"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "HREF"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "public_url",
                        "type": "text",
                        "label": "Public URL"
                    },
                    {
                        "name": "request_id",
                        "type": "text",
                        "label": "Request ID"
                    },
                    {
                        "name": "properties_value",
                        "spec": [],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "notion:searchObjects1",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5540257
            },
            "mapper": {
                "select": "data_source_item",
                "data_source": "{{14.`multiple relations database id`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1062,
                    "y": 215,
                    "name": "find items to relate"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "MakeComIntegration",
                            "data": {
                                "scoped": "true",
                                "connection": "notion3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Data Source ItemsThis must be used if your database has multiple data sources."
                        },
                        "limit": {
                            "empty": true
                        },
                        "filter": {
                            "label": []
                        },
                        "sorts": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:notion2,notion3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Objects",
                        "required": true,
                        "validate": {
                            "enum": [
                                "data_source_item",
                                "data_source",
                                "page",
                                "item",
                                "database"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "data_source",
                        "type": "text",
                        "label": "Data source ID",
                        "required": true
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": {
                            "store": "rpc://notion/1/listDataSourcePropertiesFieldsForFilter",
                            "operators": [
                                {
                                    "label": "Text",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "text:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "text:does_not_equal"
                                        },
                                        {
                                            "label": "Contains",
                                            "value": "text:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "text:does_not_contain"
                                        },
                                        {
                                            "label": "Starts with",
                                            "value": "text:starts_with"
                                        },
                                        {
                                            "label": "Ends with",
                                            "value": "text:ends_with"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "text:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "text:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Number",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "number:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "number:does_not_equal"
                                        },
                                        {
                                            "label": "Greater than",
                                            "value": "number:greater_than"
                                        },
                                        {
                                            "label": "Less than",
                                            "value": "number:less_than"
                                        },
                                        {
                                            "label": "Greater than or equal to",
                                            "value": "number:greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Less than or equal to",
                                            "value": "number:less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "number:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "number:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Date",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "date:equals"
                                        },
                                        {
                                            "label": "Before",
                                            "value": "date:before"
                                        },
                                        {
                                            "label": "After",
                                            "value": "date:after"
                                        },
                                        {
                                            "label": "On or before",
                                            "value": "date:on_or_before"
                                        },
                                        {
                                            "label": "On or after",
                                            "value": "date:on_or_after"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "date:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "date:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Checkbox",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "checkbox:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "checkbox:does_not_equal"
                                        }
                                    ]
                                },
                                {
                                    "label": "File",
                                    "options": [
                                        {
                                            "label": "Is empty",
                                            "value": "file:is_empty"
                                        },
                                        {
                                            "label": "Is not empty",
                                            "value": "file:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Select",
                                    "options": [
                                        {
                                            "label": "Equals",
                                            "value": "select:equals"
                                        },
                                        {
                                            "label": "Does not equal",
                                            "value": "select:does_not_equal"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "select:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "select:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Multi-select",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "multiselect:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "multiselect:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "multiselect:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "multiselect:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "People",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "people:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "people:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "people:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "people:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Relation",
                                    "options": [
                                        {
                                            "label": "Contains",
                                            "value": "relation:contains"
                                        },
                                        {
                                            "label": "Does not contain",
                                            "value": "relation:does_not_contain"
                                        },
                                        {
                                            "label": "Is empty (Boolean)",
                                            "value": "relation:is_empty"
                                        },
                                        {
                                            "label": "Is not empty (boolean)",
                                            "value": "relation:is_not_empty"
                                        }
                                    ]
                                },
                                {
                                    "label": "Formula",
                                    "options": [
                                        {
                                            "label": "String - Equals",
                                            "value": "formula:text-equals"
                                        },
                                        {
                                            "label": "String - Does not equal",
                                            "value": "formula:text-does_not_equal"
                                        },
                                        {
                                            "label": "String - Contains",
                                            "value": "formula:text-contains"
                                        },
                                        {
                                            "label": "String - Does not contain",
                                            "value": "formula:text-does_not_contain"
                                        },
                                        {
                                            "label": "String - Starts with",
                                            "value": "formula:text-starts_with"
                                        },
                                        {
                                            "label": "String - Ends with",
                                            "value": "formula:text-ends_with"
                                        },
                                        {
                                            "label": "String - Is empty (Boolean)",
                                            "value": "formula:text-is_empty"
                                        },
                                        {
                                            "label": "Text - Is not empty (boolean)",
                                            "value": "formula:text-is_not_empty"
                                        },
                                        {
                                            "label": "Checkbox - Equals",
                                            "value": "formula:checkbox-equals"
                                        },
                                        {
                                            "label": "Checkbox - Does not equal",
                                            "value": "formula:checkbox-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Equals",
                                            "value": "formula:number-equals"
                                        },
                                        {
                                            "label": "Number - Does not equal",
                                            "value": "formula:number-does_not_equal"
                                        },
                                        {
                                            "label": "Number - Greater than",
                                            "value": "formula:number-greater_than"
                                        },
                                        {
                                            "label": "Number - Less than",
                                            "value": "formula:number-less_than"
                                        },
                                        {
                                            "label": "Number - Greater than or equal to",
                                            "value": "formula:number-greater_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Less than or equal to",
                                            "value": "formula:number-less_than_or_equal_to"
                                        },
                                        {
                                            "label": "Number - Is empty (Boolean)",
                                            "value": "formula:number-is_empty"
                                        },
                                        {
                                            "label": "Number - Is not empty (boolean)",
                                            "value": "formula:number-is_not_empty"
                                        },
                                        {
                                            "label": "Date - Equals",
                                            "value": "formula:date-equals"
                                        },
                                        {
                                            "label": "Date - before",
                                            "value": "formula:date-before"
                                        },
                                        {
                                            "label": "Date - after",
                                            "value": "formula:date-after"
                                        },
                                        {
                                            "label": "Date - On or before",
                                            "value": "formula:date-on_or_before"
                                        },
                                        {
                                            "label": "Date - On or after",
                                            "value": "formula:date-on_or_after"
                                        },
                                        {
                                            "label": "Date - Is empty (Boolean)",
                                            "value": "formula:date-is_empty"
                                        },
                                        {
                                            "label": "Date - Is not empty (boolean)",
                                            "value": "formula:date-is_not_empty"
                                        }
                                    ]
                                }
                            ]
                        }
                    },
                    {
                        "name": "sorts",
                        "type": "array",
                        "label": "Sorts",
                        "spec": [
                            {
                                "name": "select",
                                "type": "select",
                                "label": "Select a Field to Sort",
                                "options": [
                                    {
                                        "label": "Property Field",
                                        "value": "property",
                                        "nested": [
                                            {
                                                "name": "property",
                                                "type": "select",
                                                "label": "Property Field",
                                                "options": "rpc://notion/1/listDatabasePropertiesFieldsForFilter?sortParameter=true",
                                                "required": true
                                            }
                                        ]
                                    },
                                    {
                                        "label": "Timestamp",
                                        "value": "timestamp",
                                        "nested": [
                                            {
                                                "name": "timestamp",
                                                "type": "select",
                                                "label": "Timestamp",
                                                "options": [
                                                    {
                                                        "label": "Created time",
                                                        "value": "created_time",
                                                        "default": true
                                                    },
                                                    {
                                                        "label": "Last edited time",
                                                        "value": "last_edited_time"
                                                    }
                                                ],
                                                "required": true
                                            }
                                        ],
                                        "default": true
                                    }
                                ],
                                "required": true
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": "ascending"
                                    },
                                    {
                                        "label": "Descending",
                                        "value": "descending"
                                    }
                                ],
                                "required": true
                            }
                        ]
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Page ID"
                    },
                    {
                        "name": "created_time",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "last_edited_time",
                        "type": "date",
                        "label": "Last Edited Time"
                    },
                    {
                        "name": "created_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Created by"
                    },
                    {
                        "name": "last_edited_by",
                        "spec": [
                            {
                                "name": "object",
                                "type": "text",
                                "label": "Object"
                            },
                            {
                                "name": "id",
                                "type": "uuid",
                                "label": "ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Last Edited by"
                    },
                    {
                        "name": "icon",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "emoji",
                                "type": "text",
                                "label": "Emoji"
                            }
                        ],
                        "type": "collection",
                        "label": "Icon"
                    },
                    {
                        "name": "cover",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "external",
                                "spec": [
                                    {
                                        "name": "url",
                                        "type": "text",
                                        "label": "URL"
                                    }
                                ],
                                "type": "collection",
                                "label": "External"
                            }
                        ],
                        "type": "collection",
                        "label": "Cover"
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL"
                    },
                    {
                        "name": "parent",
                        "spec": [
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "workspace",
                                "type": "boolean",
                                "label": "Workspace"
                            },
                            {
                                "name": "page_id",
                                "type": "text",
                                "label": "Page ID"
                            },
                            {
                                "name": "database_id",
                                "type": "text",
                                "label": "Database ID"
                            },
                            {
                                "name": "data_source_id",
                                "type": "text",
                                "label": "Data Source ID"
                            }
                        ],
                        "type": "collection",
                        "label": "Parent"
                    },
                    {
                        "name": "properties",
                        "spec": {
                            "spec": [
                                {
                                    "name": "id",
                                    "type": "text",
                                    "label": "ID"
                                },
                                {
                                    "name": "type",
                                    "type": "text",
                                    "label": "Type"
                                },
                                {
                                    "name": "people",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "object",
                                                "type": "text",
                                                "label": "Object"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "avatar_url",
                                                "type": "text",
                                                "label": "Avatar Url"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "person",
                                                "spec": [
                                                    {
                                                        "name": "email",
                                                        "type": "text",
                                                        "label": "Email"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Person"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "People"
                                },
                                {
                                    "name": "url",
                                    "type": "text",
                                    "label": "URL"
                                },
                                {
                                    "name": "text",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Text"
                                },
                                {
                                    "name": "select",
                                    "spec": [
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "color",
                                            "type": "text",
                                            "label": "Color"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Select"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                },
                                {
                                    "name": "phone_number",
                                    "type": "text",
                                    "label": "Phone Number"
                                },
                                {
                                    "name": "multi_select",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "color",
                                                "type": "text",
                                                "label": "Color"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Multi Select"
                                },
                                {
                                    "name": "date",
                                    "spec": [
                                        {
                                            "name": "start",
                                            "type": "text",
                                            "label": "Start"
                                        },
                                        {
                                            "name": "end",
                                            "type": "text",
                                            "label": "End"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Date"
                                },
                                {
                                    "name": "checkbox",
                                    "type": "boolean",
                                    "label": "Checkbox"
                                },
                                {
                                    "name": "number",
                                    "type": "number",
                                    "label": "Number"
                                },
                                {
                                    "name": "files",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Files"
                                },
                                {
                                    "name": "title",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "text",
                                                "spec": [
                                                    {
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Content"
                                                    },
                                                    {
                                                        "name": "link",
                                                        "type": "text",
                                                        "label": "Link"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Text"
                                            },
                                            {
                                                "name": "annotations",
                                                "spec": [
                                                    {
                                                        "name": "bold",
                                                        "type": "boolean",
                                                        "label": "Bold"
                                                    },
                                                    {
                                                        "name": "italic",
                                                        "type": "boolean",
                                                        "label": "Italic"
                                                    },
                                                    {
                                                        "name": "strikethrough",
                                                        "type": "boolean",
                                                        "label": "Strikethrough"
                                                    },
                                                    {
                                                        "name": "underline",
                                                        "type": "boolean",
                                                        "label": "Underline"
                                                    },
                                                    {
                                                        "name": "code",
                                                        "type": "boolean",
                                                        "label": "Code"
                                                    },
                                                    {
                                                        "name": "color",
                                                        "type": "text",
                                                        "label": "Color"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Annotations"
                                            },
                                            {
                                                "name": "plain_text",
                                                "type": "text",
                                                "label": "Plain Text"
                                            },
                                            {
                                                "name": "href",
                                                "type": "text",
                                                "label": "Href"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Title"
                                },
                                {
                                    "name": "last_edited_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Last Edited Time"
                                },
                                {
                                    "name": "created_time",
                                    "time": true,
                                    "type": "date",
                                    "label": "Created Time"
                                },
                                {
                                    "name": "last_edited_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Last Edited By"
                                },
                                {
                                    "name": "created_by",
                                    "spec": [
                                        {
                                            "name": "object",
                                            "type": "text",
                                            "label": "Object"
                                        },
                                        {
                                            "name": "id",
                                            "type": "text",
                                            "label": "ID"
                                        },
                                        {
                                            "name": "name",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "name": "avatar_url",
                                            "type": "text",
                                            "label": "Avatar Url"
                                        },
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "person",
                                            "spec": [
                                                {
                                                    "name": "email",
                                                    "type": "text",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Person"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Created By"
                                },
                                {
                                    "name": "formula",
                                    "spec": [
                                        {
                                            "name": "type",
                                            "type": "text",
                                            "label": "Type"
                                        },
                                        {
                                            "name": "string",
                                            "type": "text",
                                            "label": "String"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Formula"
                                },
                                {
                                    "name": "relation",
                                    "spec": {
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    "type": "array",
                                    "label": "Relation"
                                },
                                {
                                    "name": "label",
                                    "type": "text",
                                    "label": "Label"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Properties"
                    },
                    {
                        "name": "public_url",
                        "type": "text",
                        "label": "Public URL"
                    },
                    {
                        "name": "archived",
                        "type": "boolean",
                        "label": "Archived"
                    },
                    {
                        "name": "in_trash",
                        "type": "boolean",
                        "label": "In Trash"
                    },
                    {
                        "name": "properties_value",
                        "spec": [],
                        "type": "collection",
                        "label": "Properties Value"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "util:TextAggregator",
            "version": 1,
            "parameters": {
                "feeder": 1,
                "rowSeparator": "other",
                "otherRowSeparator": ","
            },
            "mapper": {
                "value": "{ \"id\": \"{{1.id}}\" }"
            },
            "metadata": {
                "designer": {
                    "x": 1370,
                    "y": 216,
                    "name": "aggregate"
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "find matching copackers - Search Objects [1]"
                        }
                    },
                    "parameters": {
                        "rowSeparator": {
                            "label": "Other"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "rowSeparator",
                        "type": "select",
                        "label": "Row separator",
                        "validate": {
                            "enum": [
                                "\n",
                                "\t",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "otherRowSeparator",
                        "type": "text",
                        "label": "Separator"
                    }
                ],
                "expect": [
                    {
                        "name": "value",
                        "type": "text",
                        "label": "Text"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 12,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://api.notion.com/v1/pages/{{6.id}}",
                "method": "patch",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer {{14.`notion token`}}"
                    },
                    {
                        "name": "Notion-Version",
                        "value": "2022-06-28"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{\r\n  \"properties\": {\r\n    \"{{14.`relations property name`}}\": {\r\n      \"relation\": [{{13.text}}]\r\n    }\r\n  }\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 1693,
                    "y": 211,
                    "name": "add relations"
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "PATCH"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}